* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1em;
  font-family: Araboto;
}

:root {
  --white: #FFFFFF;
  --grey: #BFBFBF;
  --darkergrey: #808080;
}

@font-face {
  font-family: Araboto;
  src: url('../fonts/Araboto/Araboto\ Black\ 400.ttf');
  src: url('../fonts/Araboto/Araboto\ Bold\ 400.ttf');
  src: url('../fonts/Araboto/Araboto\ Light\ 400.ttf');
  src: url('../fonts/Araboto/Araboto\ Medium\ 400.ttf');
  src: url('../fonts/Araboto/Araboto\ Normal\ 400.ttf');
  src: url('../fonts/Araboto/Araboto\ Thin\ 400.ttf');
}