.banner {
    margin: 0;
    padding: 0;
    background: url('../public/home/G5\ Ground\ Floor\ Banner.jpg');
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100%; */
    height: 800px;
    width: 100%;
    display: grid;
    place-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Araboto;
}

.caption {
    color: white;
    font-size: 40px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--white);
}

.link:hover {
    text-decoration: underline;
    color: var(--grey);
}


.caption h1,
.caption h3,
.caption h5 {
    line-height: 1.4;
}

.twocolgrid {
    display: grid;
    background-color: var(--darkergrey);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    place-items: center;
    color: white;
}

.gridtext {
    padding: 50px;
    font-size: larger;
    font-weight: 800;
}

.gridtext h1,
.gridtext p {
    line-height: 1.4;
    letter-spacing: 1px;
}

.propertylist {
    background-color: var(--grey);
    padding: 25px;
}

.gradient {
    background: rgb(191, 191, 191);
    background: linear-gradient(0deg, rgba(191, 191, 191, 1) 35%, rgba(128, 128, 128, 1) 100%);
}

.propertylist h2,
.propertylist h3 {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.propertylist h2 {
    font-size: 40px;
    text-decoration: underline;
}

.propertylist p {
    line-height: 1.5;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}